{% extends 'main.html' %}
{% block title %}Edit{% endblock %}
{% block content %}
    <header>
        <h1>Edit Account</h1>
    </header>

    <form id="edit_form" method="POST" action="/person/{{persons.id}}/edit">
        <label for="first_name">First Name:</label>
        <input id="first_name" type="text" name="first_name" value="{{persons.first_name}}">

        <label for="last_name">Last Name:</label>
        <input id="last_name" type="text" name="last_name" value="{{persons.last_name}}">

        <label for="vip">Gold Member:</label>
        <select id="vip" name="vip">
            <option value=" " {% if persons.vip %} selected {% endif %}>Yes</option>
            <option value="" {% if not persons.vip %} selected {% endif %}>No</option>
        </select>
        <span>
            {% if persons.vip %} 
            {{persons.first_name}} {{persons.last_name}} is a Gold Member {% else %}
            {{persons.first_name}} {{persons.last_name}} is NOT a Gold Member
            {% endif %}
        </span>

        <input id="confirm" data-id={{persons.id}} type="submit" value="Confirm">
    </form>

    <section>
        <a href="/person/{{persons.id}}">Go Backward</a>
        <a href="/">Go To Homepage</a>
    </section>
{% endblock %}